.Cedit {
    cursor: pointer;
    display: inline;
    opacity: 0.8;
    float: right;
}

.Cedit1 {
    cursor: pointer;
    display: inline-block;
    margin-left: 13px;
}

.CeditCheck {
    cursor: pointer;
    display: inline-block;
}

.CeditBack {
    cursor: pointer;
    display: inline-block;
}


#uID {
	align-content: center;
	display: inline-block;
	color: #37956f;
	display: table;
}

#uImg {
    border-radius: 33%;
    margin-bottom: 4px;
}



span {
	margin-left: 6px;
	margin-top: 3px;
}


input[type=text] {
    margin-top: 8px;
    font-size: 18px;
    color: #545454;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none;
    width: 280px;
}

#1stCenter {
    align-content: center;
}


/**************
            classes for testing

        ***************/


.edeting {
    border-bottom: 2px solid #37956f;
    background-color: #ffffff;
}

.endEdeting {
    background-color: #F8FCF7;
}

.Dnone {
    display: none
}

.Endsummery {
    background-color: rgba(55, 149, 111,0.0);
}


/***********************
            CSS For Modal

        **********************/



.modal-footer .btn {
    margin-left: 13px;
}

.fa-times {
    cursor: pointer;
}

.fa-check-square {
    cursor: pointer;
}


#clusterInfo {
    height: 0;
    width: 0;
    text-align: center;
    align-content:center;
}
#p_clusterInfo {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    align-content: center;
}

span{
	margin-left:6px;
	margin-top:3px;
}

a:hover {
	text-decoration: none;
}
.wimg{
	width:50%;
}

#wrapper .wimg{
	margin:0 auto;


}

.wimg {
	width: 50%;
	margin: 0 auto;
}

	.wimg img {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	#tool:hover{
		cursor:pointer;
	}

header .fa-sign-out, header .fa-home {
	position: relative;
	font-size: 55px;
	z-index: 10;
	padding:20px
}


