
#boxes {
    width: 80%;
    margin: auto;    
    text-align:center;
}
.box {
    
    width: 100px;
    height: 100px;
    position: absolute;
    display: inline-block;
    margin:5px;
}

.red {
    background-color: red
}

.blue {
    background-color: blue
}

.green {
    background-color: green
}

.purple {
    background-color: purple
}

.hidden {
    opacity:0;
}

