
#boxes {
    width: 100%; 
    text-align:center;

}
.box {
    width: 100px;
    height: 100px;
    display: inline-block;
	border-radius:100%;
	position:relative;
    /*margin: auto;*/
}

/*.red {
    background-color: red
}*/

.blue {
    background-color: blue
}

.green {
    background-color: green
}

.purple {
	background-color: purple;
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 100%;
	position: relative;
	margin: auto;
}

.hidden {
    opacity:0;
}

.container{
	text-align:center;
}

.box p{
	margin-top:30%
}


/*
	Testing css
*/

 .stRow {
	
	 margin-top:100px;
 } 
.purple:hover {
	cursor: pointer;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
} 
 .c1 {
	height: 100px;
}

.c2 {
	height: 100px;
	
}

#user {
	height: 200px;
	
}

#d2 {
	margin-top: 50px;
	margin-bottom: 50px;
}

#d7 {
	margin-top: 50px;
	margin-bottom: 50px;
}



.bor{
	border:1px solid black;
}
