
#boxes {
    width: 100%; 
    text-align:center;
	margin-top:150px;
	padding-left:40px;
	padding-top:150px;
}
.box {
    width: 100px;
    height: 100px;
    display: inline-block;
	border-radius:100%;
	
    margin:auto;
}

.red {
    background-color: red
}

.blue {
    background-color: blue
}

.green {
    background-color: green
}

.purple {
    background-color: purple
}

.hidden {
    opacity:0;
}

.container{
	text-align:center;
}

.box p{
	margin-top:30%
}